body {
    font-family: Arial;
    background-color: #f4f4f4;
    text-align: center;
}

input {
    padding: 10px;
    width: 300px;
}

button {
    padding: 10px;
    cursor: pointer;
}

#books {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.book {
    background: white;
    width: 250px;
    margin: 10px;
    padding: 10px;
    text-align: left;
}

.book img {
    width: 100%;
}